.App {
  text-align: center;
  background-color: lightgray;
  height: 100%;
  min-height: 100vh;
}

.appToolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%
}

.atAGlance {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  width: 90vw;
  align-self: center;
  margin-bottom: 20px
}

.barChart {
  width: 500px;
  margin: 10px
}

.charts {
  width: 90vw;
  align-self: center;
  margin-top: 10px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

.closeButton {
  align-self: flex-start;
  margin-top: 20px;
  margin-left: 20px;
  width: fit-content
}

.content {
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  height: auto
}

.headerContainer {
  width: 1000px;
  align-self: center;
}

.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: darkgray
}

.loadingScreen {
  background-color: lightgray;
  height: 100vh
}

.oneTeam {
  margin: 5px;
}

.scatterChart {
  width: 800px;
  align-self: center;
  margin-top: 25px;
}

.statComps {
  display: flex;
  flex-direction: column;
}

.teamName {
  margin-top: 0px;
  margin-bottom: 0px;
}

#abtContainer {
  width: 1000px;
  align-self: center;
}

#abtContent {
  padding: 15px;
}

#appBarLeft {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#appHeader {
  width: 1000px;
  align-self: center;
}

#atAGlanceContainer {
  display: flex;
  flex-direction: row;
  width: 1220px;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}

#fabButton {
  align-self: flex-start;
  margin-top: 10px;
  margin-left: 10px;
}

#headerContent {
  padding: 15px;
}

#logoContainer {
  margin-right: 20px;
}

#main {
  height: 100vh
}

#oppBarHeader {
  margin-top: 0;
}

#oppList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#polarChart {
  height: 400px
}

#rtgChartHeader {
  padding: 15px;
}

#scatterCont {
  align-self: center;
  justify-self: center;
  width: 1000px;
  align-content: center;
}

#statTable {
  width: 90vw;
  align-self: center;
}
